{% load cache i18n %}
{% load pages_tags %}
{% load pagesext_tags %}
<!DOCTYPE html>
<html>
<head lang="{{ LANGUAGE_CODE }}">
    <meta charset="UTF-8">
    {% get_page_object_by_id "meta" 1 as page_meta %}
    <title>{{ page_meta.title }}</title>
    <meta name="description" content="{{ page_meta.description }}"/>
    <meta name="keywords" content="{{ page_meta.keywords }}"/>
    <meta name="robots" content="{{ page_meta.robots }}"/>
</head>
<body>

{% cache page.timeout "pages" page.cache_key page.cache_version %}
    {% page_text_by_id 1 %}
    {% get_page_file_by_id 1 as item %}

    <a href="{{ item.file.url }}" title="{{ item.title }}">file</a>
    <br />

    {% get_page_file_by_tag "test" as file1 %}
    <a href="{{ file1.file.url }}" title="{{ file1.title }}">file1</a>
    <br />
    {% get_page_file_by_tag "file-2" as file2 %}
    <a href="{{ file2.file.url }}" title="{{ file2.title }}">file2</a>
    <br />

    {% get_page_files_by_tags "test" as files %}
    {% for item in files %}
        <a href="{{ item.file.url }}" title="{{ item.title }}">file</a>
    {% endfor %}

{% endcache %}

</body>
</html>
